.btn{
    height: 50px;
    width: 100px;
    background-color: black;
    color: gray;
    border-radius: 30px;
    margin-right: 5px;
    cursor: pointer;
}
.btn:hover{
   
    box-shadow: 10px 10px 100px white;
    border: solid white;
    color: aliceblue;
}
