body{
    background-color: rgb(60, 55, 55);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

#clock{
   
   height: 40px; 
   width: 100px;
   background-color: orange;
   border-radius: 20px;
   padding: 50px;
   font-size: large;
}

p{
    text-align: center;
    color: azure;
}